@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MobileLayout</title>
</head>
<body>
    <div data-role="header">
        <h1>Aditya Homes</h1>
    </div>

    <div data-role="content">
        <p>I Am Now A Mobile Developer!!</p>
    </div>

    <div data-role="footer">
        <h1>Visit Aditya Homes</h1>
    </div>
    <div data-role="page">
    </div>
</body>
</html>
