@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div >
    <ul id="leftImageList" class="enlarge">
        <li>
            <img src="~/Images/tn_AdityaHomes-1.jpg" alt="Aditya Homes Elevation" class="tn-img" />
            <span><img src="~/Images/AdityaHomes-1.jpg" alt="AH Elevation" /><br />Aditya Homes</span>
        </li>
        <li>
            <img src="~/Images/tn_AdityaHomes.jpg" alt="Aditya Homes Elevation" class="tn-img" />
            <span><img src="~/Images/AdityaHomes.jpg" alt="AH Elevation"/><br />Aditya Homes</span>
        </li>
    </ul>
    <ul id="description" style="list-style:outside">
        <li>
            <h3>Description</h3>
            <p>Aditya Homes is project of five spacious, affordable and very good houses for everyone who is <br />
                dreaming for a nice safe shell for their loved ones.<br />
                The time has come to make your dream come true.
                Aditya Homes is situalted very close to heart of Dhule city with all necessary amenities like <br />
                school, colleges, hospitals, public transportations.
            </p>
        </li>
        <li><h3>Features</h3>
            <ul id="features">
                <li>Location:Nakane road,Dhule</li>
                <li>Area:1200 sq. ft</li>
                <li>Price:35 Lacs</li>
                <li>Number of rooms
                    <ul>
                        <li>Ground Floor:Spacious Hall, Kitchen, outdoor cleaning area, toilet, bathroom</li>
                        <li>First Floor:2 bed rooms, toilet bathroom, 2 balconies</li>
                    </ul>
                </li>
            </ul>
        </li>        
    </ul>
</div>